{
    "option_settings": [
        {
            "namespace": "aws:elasticbeanstalk:cloudwatch:logs",
            "option_name": "StreamLogs",
            "value": true
        },
        {
            "namespace": "aws:elasticbeanstalk:cloudwatch:logs",
            "option_name": "RetentionInDays",
            "value": 30
        },
        {
            "namespace": "aws:elasticbeanstalk:cloudwatch:logs:health",
            "option_name": "HealthStreamingEnabled",
            "value": true
        },
        {
            "namespace": "aws:elasticbeanstalk:healthreporting:system",
            "option_name": "SystemType",
            "value": "enhanced"
        },
        {
            "namespace": "aws:elasticbeanstalk:cloudwatch:logs:health",
            "option_name": "RetentionInDays",
            "value": 30
        },
        {
            "namespace": "aws:elasticbeanstalk:sqsd",
            "option_name": "HttpPath",
            "value": "/workermessage"
        },
        {
            "namespace": "aws:elasticbeanstalk:sqsd",
            "option_name": "HttpConnections",
            "value": "1"
        },
        {
            "namespace": "aws:elasticbeanstalk:sqsd",
            "option_name": "InactivityTimeout",
            "value": "3550"
        },
        {
            "namespace": "aws:elasticbeanstalk:sqsd",
            "option_name": "VisibilityTimeout",
            "value": "3600"
        },
        {
            "namespace": "aws:elasticbeanstalk:sqsd",
            "option_name": "ErrorVisibilityTimeout",
            "value": "600"
        },
        {
            "namespace": "aws:elasticbeanstalk:sqsd",
            "option_name": "MaxRetries",
            "value": "2"
        },
        {
            "namespace": "aws:elasticbeanstalk:application:environment",
            "option_name": "NODE_OPTIONS",
            "value": "--max_old_space_size=6144"
        }
    ]
}
