{
    "option_settings": [
        {
            "namespace": "aws:elasticbeanstalk:cloudwatch:logs",
            "option_name": "StreamLogs",
            "value": true
        },
        {
            "namespace": "aws:elasticbeanstalk:cloudwatch:logs",
            "option_name": "RetentionInDays",
            "value": 30
        },
        {
            "namespace": "aws:elasticbeanstalk:cloudwatch:logs:health",
            "option_name": "HealthStreamingEnabled",
            "value": true
        },
        {
            "namespace": "aws:elasticbeanstalk:healthreporting:system",
            "option_name": "SystemType",
            "value": "enhanced"
        },
        { 
            "namespace": "aws:elasticbeanstalk:cloudwatch:logs:health",
            "option_name": "RetentionInDays",
            "value": 30 
        },
        {
            "namespace": "aws:elasticbeanstalk:environment",
            "option_name": "LoadBalancerType",
            "value": "application"
        },
        {
            "namespace": "aws:elbv2:listener:443",
            "option_name": "Protocol",
            "value": "HTTPS"
        },
        {
            "namespace": "aws:elasticbeanstalk:application:environment",
            "option_name": "NODE_OPTIONS",
            "value": "--max_old_space_size=6144"
        },

    ]
}
