  option_settings:
    - namespace: aws:autoscaling:trigger
      option_name: MeasureName
      value: CPUUtilization
    - namespace: aws:autoscaling:trigger
      option_name: LowerThreshold
      value: 20
    - namespace: aws:autoscaling:trigger
      option_name: UpperThreshold
      value: 50
    - namespace: aws:autoscaling:trigger
      option_name: Unit
      value: Percent
    - namespace: aws:autoscaling:trigger
      option_name: BreachDuration
      value: 5
    - namespace: aws:autoscaling:asg
      option_name: Cooldown
      value: 1200
