<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <property name = "hibernate.dialect">
      org.hibernate.dialect.PostgreSQL95Dialect
    </property>

    <property name = "hibernate.connection.driver_class">
      org.postgresql.Driver
    </property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!-- Assume test is the database name -->

    <property name = "hibernate.connection.url">
      jdbc:postgresql://localhost/h2x
    </property>

    <property name = "hibernate.connection.username">
      h2x-backend
    </property>

    <property name = "hibernate.connection.password">
      weshouldntreallyneedthis
    </property>

    <property name="hibernate.schema_update.unique_constraint_strategy">
      RECREATE_QUIETLY
    </property>

    <property name="hibernate.jdbc.lob.non_contextual_creation">
      true
    </property>
    <!-- List of XML mapping files -->
    <mapping package="com.h2x.mvp.entities"/>
    <mapping class="com.h2x.mvp.entities.Operation"/>
    <mapping class="com.h2x.mvp.entities.Login"/>
    <mapping class="com.h2x.mvp.entities.Document"/>
    <mapping class="com.h2x.mvp.entities.Session"/>
    <mapping class="com.h2x.mvp.entities.Profile"/>
    <mapping class="com.h2x.mvp.entities.Catalog"/>
      <mapping class="com.h2x.mvp.entities.ContactMessage"/>


  </session-factory>
</hibernate-configuration>
